#app {
    font-family: Roboto, sans-serif;
}
#login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px
}
.center {
    text-align: center
}

.main-bg-video {

	position:absolute;
	display:block;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index:-100;
}
